.ui-autocomplete{
max-height:400px;
overflow-y:auto;
overflow-x:hidden;
padding-right: 20px;
}


#transactions{
	width:1124px;
	display:block;
}

.selected{
background-color: yellow;
}

#transactions .section{
	margin:3px;
	padding:10px;
	width:500px;
	background-color:white;
	float:left;
	border:1px;
}

.new-product{
color:orange;
}

.section table{
	width:100%;
}

.section {
margin:3px;
width:500px;
background-color:white;
padding:10px 10px;
}

.form{
border-top: 1px solid gray;
margin-top: 10px;
padding-top: 5px;
}


#product-list{
background-color:white;
min-width:600px;
padding:10px 20px;
}

#product-list td,
#product-list th{
	padding:3px 10px;

}

#product-list .value{
	width:100px;
}

#product-list .quantity{
	text-align:right;
	width:50px;
}

#product-list .name{
	width:150px;
	text-align:right;
}
