{%extends "base.html"%}
{%load transaction_filters%}

{%block content%}
<div id="inventory">
<div class="round-corner">
	<h3>Comenzar</h3>
	<ul>
		<li><a href="{%url inv_start_entry%}">Entrada</a></li>
		<li><a href="{%url inv_start_exit%}">Salida</a></li>
		{# TODO: Add Move#}
		{#<li><a href="{%url inv_start_move%}">Translado</a></li>#}
	</ul>
</div>

<div class="round-corner">
	<h3>Transaciones Activas</h3>
	<ul>
	{%for transaction in transactions%}
	<li><a href="{%url inv_transaction_detail transaction.id%}">{{transaction.nature|transaction_nature}} - {{transaction.date_time}}</a></li>

	{%endfor%}
	</ul>
</div>

<div class="round-corner">
	<h3>Ultimas 10 transaciones registradas</h3>
	<ul>
	{%for transaction in transactions_registered%}
	<li><a href="{%url inv_transaction_detail transaction.id%}">{{transaction.nature|transaction_nature}} - {{transaction.date_time}}</a></li>
	{%endfor%}
	</ul>
</div>
<div class="round-corner">
	<h3>Ver</h3>
	<ul>
		<li><a href="{%url inv_product_list%}">Productos</a></li>
	</ul>
</div>

</div>
{%endblock content%}
