{%extends "base.html"%}

{%block title%}Lista de Productos{%endblock%}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}inventory/inventory.css" /> 
{%endblock%}

{%block content%}

<table id="product-list">
<tr>
	<th colspan="5" style="font-size:22px;">Lista de Productos</th>
</tr>
<tr>
	<th class="name">Nombre</th>
	<th class="quantity">Cantidad</th>
	<th>Unidades</th>
	<th>Costo</th>
</tr>
{%for product in product_list%}
<tr>
	<td class="name">{{product.name|capfirst}}</td>
		{%for model in product.models.all%}
		    {%for quantity in model.quantities.all%}
		    <tr>
			    <td></td>
			    <td class="value quantity">{{quantity.quantity|floatformat:"2"}}</td>
			    <td class="value symbol">{{model.units.symbol}}</td>
			    <td class="value cost">{{quantity.cost|floatformat:"2"}}</td>
		    </tr>
		    {%endfor%}
		{%endfor%}
</tr>
{%endfor%}
</table>

{%endblock%}
