{%extends "base.html"%}
{%load transaction_filters%}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}inventory/inventory.css" /> 
{{pt_form.media}}

<script type="text/javascript" src="{{MEDIA_URL}}inventory/inventory.js"></script>
<script>
var inventory_api = {'models': '{%url api-inv-product-models 0%}',
	'transaction_products': '{%url api-inv-transaction-products transaction.id%}',
        'products':'{%url api-inv-products%}'};

</script>
{% endblock %}

{%block content%}
<h1>{{transaction.nature|transaction_nature|capfirst}} - {{transaction.status|transaction_status}}</h1>
<div class="section">
<table>
	{{transaction_form.as_table}}
</table>
{%if transaction.status == transaction.PROCESSING%}
<form action="{{transaction.get_absolute_url}}" method="post">
	<input type="submit" name="end" id="end" value="Terminar"/>
	<input type="submit" name="cancel" id="cancel" value="Cancelar"/> 
</form>
{%endif%}
</div>
<div id="transactions">

{%if transaction.status == transaction.PROCESSING%}
<div class="section"  id="add-product">
<h2>Agregar producto</h2>

<div id="add-product-buttons">
	<label>Producto: </label>
	<select id="products">
		<option value="">-------</option>
		{%for p in all_products%}
		<option value="{{p.id}}">{{p.name|capfirst}}</option>
		{%endfor%}
	</select>
	<a href="#" id="a-add-product-base">Agregar</a>
</div>
<div id="product-models" class="form">
	<table id="models-to-select">
		<tr class="header" id="product-add-header">
			<th>sku</th>
			<th>Unidades</th>
			<th>U. del contenido</th>
			<th>Cantidad del Contenido</th>
		</tr>
		<tr id="add-model">
			<td colspan="4"><a id="a-create-model" href="#">Agregar</a></td>
		</tr>
	</table>
</div>

<div id="product-form-wrapper" class="form">
	<h2>Agregar al inventario</h2>
	<form action="{{transaction.get_absolute_url}}" method="post">
		<table>
			{{pt_form.as_table}}
		</table>
	<input type="submit" name="save" id="save" value="Agregar"/>
	</form>
</div>

<div id="p-form-wrapper" class="form">
	<h2>Crear producto</h2>
	<form action="{{transaction.get_absolute_url}}" method="post">
		<table>
			{{product_form.as_table}}
		</table>
	<input type="submit" name="save" id="save-product" value="Agregar"/>
	</form>
</div>

<div id="p-model-form-wrapper" class="form">
	<h2>Crear modelo</h2>
	<form action="{{transaction.get_absolute_url}}" method="post">
		<table>
			{{product_model_form.as_table}}
		</table>
	<input type="submit" name="save" id="save-product-model" value="Agregar"/>
	</form>
</div>

</div>
{%endif%}

<div class="section">
<h2>Productos</h2>
<table id="products-added">
	<tr>
	{%for field_name in product_fields%}
	    <th>{{field_name|capfirst}}</th>
	{%endfor%}
        {%if transaction.status == transaction.PROCESSING%}<th>Borrar</th>{%endif%}
	</tr>

	{%for pt in products%}
	<tr>
		{%for p in pt.get_values%}
		    <td>{{p}}</td>
		{%endfor%}
		{%if pt.status == pt.PROCESSING%}<td><a href="{{pt.delete_url}}">Borrar</a></td>{%endif%}
	</tr>
	{%endfor%}
</table>
</div>
	


<div class="clear"></div>
</div>
{%endblock content%}

